{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

{{ include('components/_header.html.twig') }}
<main class="container-profile">
    <h2>Modifier ou supprimer mon profil</h1>
    <div class="card-edit-profile">
        {{ form_start(topicForm) }}
        <div class="card-edit-profile-part1">
            <div class="field">
                <label for="topic1" class="col-sm-3 col-form-label">Choix 1 :</label>
                <div class="col-sm-10">
                    {{ form_widget(topicForm.topic1) }}
                </div>
            </div>
            <div class="field">
                <label for="topic2" class="col-sm-3 col-form-label">Choix 2 :</label>
                <div class="col-sm-10">
                    {{ form_widget(topicForm.topic2) }}
                </div>
            </div>
            <div class="field">
                <label for="topic3" class="col-sm-3 col-form-label">Choix 3 :</label>
                <div class="col-sm-10">
                    {{ form_widget(topicForm.topic3) }}
                </div>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="dark-submit-button">Modifier</button>
            {{ form_end(topicForm) }}
        </div>
    </div>
</main>

{# <script src="{{ asset('build/js/index.js') }}">
</script> #}

{% endblock %}