{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

{{ include('components/_header.html.twig') }}
{{ include('components/_flashmessages.html.twig') }}
    <main class="form">
        <h1 class="h2">Modifier ou supprimer mes choix<br><span class="h4">(par ordre de préférence)</span></h1>
        <!--div class="card-edit-profile"-->
            {{ form_start(topicForm) }}
            <div class="form-edit-choice">
                <div class="fields-2-mentor">
                    <label class="choice">Choix 1 :</label>
                        {{ form_widget(topicForm.topic1) }}
                </div>
                <div class="fields-2-mentor">
                    <label class="choice">Choix 2 :</label>
                        {{ form_widget(topicForm.topic2) }}
                </div>
                <div class="fields-2-mentor">
                    <label class="choice">Choix 3 :</label>
                        {{ form_widget(topicForm.topic3) }}
                </div>
            </div>
            <div class="field-edit-choice">
                <button type="submit" class="dark-submit-button">Modifier</button>
                {{ form_end(topicForm) }}
            </div>
        <a href="{{ path("profile_index") }}" class="dark-submit-button" title="Retour au profil">Retour au profil</a>
    </main>
{% endblock %}
