{% extends 'base.html.twig' %}

{% block title %}Inscription mentor{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    {% include "components/_header.html.twig" %}
    {% include "components/_flashmessages.html.twig" %}
    <h1 class="inscription-title">Formulaire d'inscription mentor</h1>
        {{ form_start(mentorRegistrationForm) }}
        {{ form_errors(mentorRegistrationForm) }}
    <div class="step-1" id="step-1-mentor">
        <div class ="instructions">
        {#progress-bar 1#}
            <div class="progress" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {#question 1 #}
            <p class="question-text">Quel est ton poste actuel?</p>
        </div>
    {# form 1 #}
        <div class="form-1-mentor">
            <div class="fields-1-mentor">
            {{ form_label(mentorRegistrationForm, 'Quel est ton domaine pro', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(mentorRegistrationForm.professionalSector) }}
                {{ form_errors(mentorRegistrationForm.professionalSector) }}


            {{ form_label(mentorRegistrationForm, 'Quelle est ton entreprise actuelle ?', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(mentorRegistrationForm.company) }}
            {{ form_widget(mentorRegistrationForm.companyAdd) }}
              {{ form_errors(mentorRegistrationForm.company) }}
            {{ form_label(mentorRegistrationForm, 'Quel est ton dernier poste occupé ?', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(mentorRegistrationForm.jobTitle) }}
                {{ form_errors(mentorRegistrationForm.jobTitle) }}

            {{ form_label(mentorRegistrationForm, 'Précisions sur ton poste, ton parcours:', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(mentorRegistrationForm.careerDescription) }}
                {{ form_errors(mentorRegistrationForm.careerDescription) }}
            </div>
        </div>
    {# scroll-btn 1 #}
        <div class="scroll-btn-section">
            <button type="submit" id="btn-step2-mentor" class="scroll-btn">Suivant</button>
        </div>
    </div>
    <div class="step-2 hidden" id="step-2-mentor">
        <div class ="instructions">
        {# logo 2#}
            <div class="logo-powy">
                <img src="{{ asset('build/images/logo-powy.png') }}" alt="logo">
            </div>
        {# progress-bar 2 #}
            <div class="progress" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {# question 2 #}
            <p class="question-text">Sur quels points souhaites-tu fournir de l'aide?</p>
        {# indication 2 #}
            <div class ="indications">
                <p>Sélectionne <strong>3 sujets</strong> dans l'ordre d'importance.</p>
            </div>
        </div>
    {# form 2 #}
        <div class="topics-form align-self-center d-flex flex-column text-center">
            {{ form_row(mentorRegistrationForm.topic.topic1, {
                label: '1'
            }) }}
            {{ form_errors(mentorRegistrationForm.topic.topic1) }}
            {{ form_row(mentorRegistrationForm.topic.topic2, {
                label: '2'
            }) }}
            {{ form_errors(mentorRegistrationForm.topic.topic2) }}
            {{ form_row(mentorRegistrationForm.topic.topic3, {
                label: '3'
            }) }}
            {{ form_errors(mentorRegistrationForm.topic.topic3) }}
        </div>
    {# scroll-btn 2 #}
        <div class="scroll-btn-section gap-2">
            <button type="submit" id="return-btn-step1-mentor" class="scroll-btn">Retour</button>
            <button type="submit" id="btn-step3-mentor" class="scroll-btn">Suivant</button>
        </div>
    </div>
    <div class="step-3 hidden" id="step-3-mentor">
        <div class ="instructions">
        {# logo 3 #}
            <div class="logo-powy">
                <img src="{{ asset('build/images/logo-powy.png') }}" alt="logo">
            </div>
        {# progress-bar 3 #}
            <div class="progress" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {# question 3 #}
            <p class="question-text">Qui es-tu?</p>
        {# indication 3 #}
            <div class ="indications">
                <p>Ces informations seront communiquées à tes futurs étudiants.</p>
            </div>
        </div>
    {# form 3 #}
        <div class="form-3-mentor">
            <div class="fields-3-mentor">
                <div class="gender">
                    {{ form_label(mentorRegistrationForm, 'Votre Genre', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(mentorRegistrationForm.user.gender) }}
                    {{ form_errors(mentorRegistrationForm.user.gender) }}
                </div>
                <div class="lastname">
                    {{ form_label(mentorRegistrationForm, 'Votre Nom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(mentorRegistrationForm.user.lastname) }}
                    {{ form_errors(mentorRegistrationForm.user.lastname) }}
                </div>
                <div class="firstname">
                    {{ form_label(mentorRegistrationForm, 'Votre Prénom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(mentorRegistrationForm.user.firstname) }}
                    {{ form_errors(mentorRegistrationForm.user.firstname) }}
                </div>
                <div class="age">
                    {{ form_label(mentorRegistrationForm, 'Votre Âge', {'label_attr': {'class': 'form-label'}}) }}
                    <button id='btnPop' style='cursor:pointer'>?</button>
                        <a id='tooltip' style='display:none' data-toggle="tooltip">
                            Vous devez être majeur(e) pour pouvoir vous inscrire.
                        </a>
                    {{ form_widget(mentorRegistrationForm.user.age) }}
                    {{ form_errors(mentorRegistrationForm.user.age) }}
                </div>
                <div class="phone">
                    {{ form_label(mentorRegistrationForm, 'Votre Téléphone', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(mentorRegistrationForm.user.phone) }}
                    {{ form_errors(mentorRegistrationForm.user.phone) }}
                </div>
            </div>
        </div>
    {# scroll-btn 3 #}
        <div class="scroll-btn-section gap-2">
            <button type="submit" id="return-btn-step2-mentor" class="scroll-btn">Retour</button>
            <button type="submit" id="btn-step4-mentor" class="scroll-btn">Suivant</button>
        </div>
    </div>
    <div class="step-4 hidden" id="step-4-mentor">
        <div class ="instructions">
        {# logo 4 #}
            <div class="logo-powy">
                <img src="{{ asset('build/images/logo-powy.png') }}" alt="logo">
            </div>
        {# progress-bar 4 #}
            <div class="progress" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {# indication 4 #}
            <div class ="question-text">
                <p>Il te suffit d'entrer tes informations de connexion</p>
            </div>
        </div>
    {# form 4 #}
        <div class="form-4-mentor">
            <div class="fields-4-mentor">
                <label class="form-label"> E-mail </label>
                {{ form_widget(mentorRegistrationForm.user.email) }}
                {{ form_errors(mentorRegistrationForm.user.email) }}
                <div class = "btnField">
                    {{ form_label(mentorRegistrationForm, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                    <button id='btnPop2' style='cursor:pointer'>?</button>
                        <a id='tooltip2' style='display:none' data-toggle="tooltip">
                            Votre mot de passe doit contenir au moins 8 caratères, 1 majuscule, 1 chiffre et un caractère spécial.
                        </a>
                </div>
                {{ form_widget(mentorRegistrationForm.plainPassword) }}
                {{ form_errors(mentorRegistrationForm.plainPassword) }}
            </div>
        </div>
    {# scroll-btn 4 #}
        <div class="scroll-btn-section gap-2">
            <button type="submit" id="return-btn-step3-mentor" class="scroll-btn">Retour</button>
            <button type="submit" id="btn-step5-mentor" class="scroll-btn">Suivant</button>
        </div>
    </div>
    <div class="step-5 hidden" id="step-5-mentor">
        <div class ="instructions">
        {# logo 5 #}
            <div class="logo-powy">
                <img src="{{ asset('build/images/logo-powy.png') }}" alt="logo">
            </div>
        {# progress-bar 5 #}
            <div class="progress" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {# indications 5 #}
            <div class ="question-text">
                <p>Termine ton inscription en validant les points suivants :</p>
                <p><small>En cochant ces cases,</small></p>
            </div>
        </div>
        {# form 5 #}
        <div class="terms d-flex flex-column">
            <div>
                {{ form_widget(mentorRegistrationForm.agreeCriminalRecord) }}
                {{ form_label(mentorRegistrationForm.agreeCriminalRecord, "J’atteste que je n’ai fait l’objet d’aucune condamnation judiciaire (pas de casier judiciaire).") }}
            </div>
            <div>
                {{ form_widget(mentorRegistrationForm.agreeChart) }}
                {{ form_label(mentorRegistrationForm.agreeChart, 'J\'accepte la <a href="' ~ path("charter") ~ '" target="_blank">' ~ "charte d'engagement bénévole." ~ '</a>') }}
            </div>
            <div>
                {{ form_widget(mentorRegistrationForm.user.agreeTerms) }}
                {{ form_label(mentorRegistrationForm.user.agreeTerms, 'J\'accepte les  <a href="' ~ path("cgu") ~ '" target="_blank">' ~ "CGU" ~ '</a>' ~ ' ainsi que le fait que mes données soient utilisées dans le cadre de la   <a href="' ~ path("rgpd") ~ '" target="_blank">' ~ 'politique de confidentialité.' ~ '</a>') }}
            </div>
        </div>
    {# register-btn #}
        <div class="register-btn gap-2">
            <button type="submit" id="return-btn-step4-mentor" class="scroll-btn">Retour</button>
            <button type="submit" class="registration-btn">S'inscrire</button>
        </div>
    </div>
    {{ form_end(mentorRegistrationForm) }}
    <script>
        // Add input if it's another company
        const selectCompany = document.querySelector('select[id="mentor_company"]');
        const companyAddInput = document.querySelector('input[id="mentor_companyAdd"]');
        const optionCompanyOther = selectCompany.options[1];
        companyAddInput.style.visibility = 'hidden';
        if (selectCompany !== null) {
            selectCompany.addEventListener('change', (event) => {
                for (let i = 0; i < event.target.childNodes.length; i += 1) {
                    if (optionCompanyOther.text === 'Autre' && optionCompanyOther.value === event.target.value) {
                        companyAddInput.style.visibility = 'visible';
                        companyAddInput.value = '';
                    } else {
                        companyAddInput.style.visibility = 'hidden';
                    }
                }
            });
        }
    </script>
{% endblock %}