{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="register-form">
    {{ form_start(registrationForm) }}
        {{ form_row(studentForm.studyLevel) }}
        <hr>
        {{ form_row(studentForm.school) }}
        <hr>
        {{ form_row(studentForm.topic1) }}
        {{ form_row(studentForm.topic2) }}
        {{ form_row(studentForm.topic3) }}
        <hr>
        {{ form_row(studentForm.professionalSector) }}
        {{ form_row(studentForm.dreamJob) }}
        {{ form_row(studentForm.dreamDescription) }}
        <hr>
        {{ form_row(studentForm.scholarship) }}
        <hr>
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.age) }}
        {{ form_row(registrationForm.phone) }}
        <hr>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    {{ form_errors(registrationForm) }}
    {{ form_errors(studentForm) }}
    </section>
{% endblock %}
