{% extends 'base.html.twig' %}

{% block title %}Modifier ou supprimer le profil{% endblock %}

{% block body %}
{% include "admin/components/_navbar.html.twig" %}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adresse mail</th>
            <th>Inscription validé</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Genre</th>
            <th>Age</th>
            <th>Téléphone</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.phone }}</td>
            <td>
                <a href="{{ path('admin_user_delete', {'id': user.id}) }}"><img src="{{ asset('build/images/trash.png') }}" alt="trash" class="edit"></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="12">Aucun utilisateur trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

