{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

{{ include('components/_header.html.twig') }}
{{ include('components/_flashmessages.html.twig') }}
{{ form_start(formpassword) }}
    <p>Merci d'entrer un nouveau mot de passe contenant au moins 8 caractères, une majuscule, un chiffre et un caractère spécial.</p>
    {{ form_row(formpassword.plainPassword.first) }}
    {{ form_row(formpassword._token) }}
    {{ form_row(formpassword.plainPassword.second) }}
    <button type="submit" class="dark-submit-button">Modifier</button>
{{ form_end(formpassword) }}

{% endblock %}