{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

{{ include('components/_header.html.twig') }}
<main>
    {{ include('components/_flashmessages.html.twig') }}
    <h1 class="h4 m-5">Modification de mot de passe</h1>
    <div class="d-flex flex-column flex-wrap mt-2 p-4 align-content-center">
        {{ form_start(formpassword) }}
            <p>Merci d'entrer un nouveau mot de passe contenant au moins 8 caractères, une majuscule, un chiffre et un caractère spécial.</p>
            <div class="d-flex flex-column align-items-center">
                {{ form_row(formpassword.plainPassword.first) }}
                {{ form_row(formpassword._token) }}
                {{ form_row(formpassword.plainPassword.second) }}
                <button type="submit" class="btn">Modifier</button>
            </div>
        {{ form_end(formpassword) }}
    </div>
</main>
{% endblock %}