{% extends 'base.html.twig' %}

{% block title %}Chat {% endblock %}

{% block body %}
{% include 'components/_header.html.twig' %}
<hr>
{% include 'components/_flashmessages.html.twig' %}
    <section>
        <h1 class="mb-5">Chat entre {{ mentoring.student.user.firstname }} et {{ mentoring.mentor.user.firstname }}</h1>
        {% if mentoring.messages is empty %}
            <p class="text-center">Vous n'avez échangé aucun message pour le moment :(</p>
        {% else %}
            {% for message in mentoring.messages %}
                <div>
                    <p>{{ message.sender }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </section>
    <section>
        {{ form_start(messageForm) }}
        {{ form_errors(messageForm) }}
        {{ form_row(messageForm.messageText, {
            label: 'Message :'
        }) }}
        <button type="submit" class="btn btn-secondary">></button>
        {{ form_end(messageForm) }}
    </section>
{% endblock %}
