{% extends 'base.html.twig' %}

{% block title %}Chat {% endblock %}

{% block body %}
{% include 'components/_header.html.twig' %}
<hr>
{% include 'components/_flashmessages.html.twig' %}
    {# --------------------------------- the user is a mentor --------------------------------- #}
    {% if app.user.mentor is not null and mentoring.mentor is same as app.user.mentor %}
        <p>Coucou</p>
    {# --------------------------------- the user is a student --------------------------------- #}
    {% elseif app.user.student is not null and mentoring.student is same as app.user.student %}
        <section class="d-flex flex-column justify-content-center">
            <h1 class="mb-5">Chat avec {{ mentoring.mentor.user.firstname }}</h1>
            <div class="img-profile center">
                {% if app.user.student.mentoring.mentor.user.picture is not null %}
                <img src="/upload/pictures/{{ app.user.student.mentoring.mentor.user.picture }}" alt="img profile">
                {% else %}
                    <img src="/upload/pictures/user.png" alt="img profile">
                {% endif %}
            </div>
            {% if mentoring.messages is empty %}
                <p class="text-center">Vous n'avez échangé aucun message pour le moment :(</p>
            {% else %}
                {% for message in mentoring.messages %}
                    <div {% if message.sender.student is not null %} class="message-student align-self-start" {% else %} class="message-mentor align-self-end" {% endif %}>
                        <p>Envoyé par {{ message.sender.firstname }} - le {{ message.createdAt|date }}</p>
                        <p>{{ message.messageText }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
        <section class="d-flex flex-row">
            {{ form_start(messageForm) }}
            {{ form_errors(messageForm) }}
            {{ form_row(messageForm.messageText, {
                label: ' ',
            }) }}
            <button type="submit" class="btn btn-secondary">></button>
            {{ form_end(messageForm) }}
        </section>
    {% endif %}
{% endblock %}
