<div style="text-align: center; margin-top: 2rem;">
    <h1>{{ user.firstname }}, nous avons une proposition de mentor.e pour toi! ✨</h1>
    <strong>Attention, le mentorat n'est pas encore actif !</strong>
    <p>Tu dois <a href="{{ url('mentoring_accepted') }}">accepter</a> ou <a href="{{ url('mentoring_refused') }}">refuser</a> cette proposition.</p>
    <p>Si tu acceptes, tu pourras commencer la discussion avec ton ou ta mentor.e, depuis ton profil en ligne.</p>
    <p>En cas de refus, nous te proposerons une autre personne dès que possible.</p>
    <br>
    <strong>Sujet du match :
        {% for key, topic in constant('App\\Entity\\Topic::TOPICS') %}
            {% if topic == mentoring.mentoringTopic %}
                {{ key }}
            {% endif %}
        {% endfor %}
    </strong>
    <br>
    <strong>Voici quelques informations sur cette personne, pour t'aider dans ton choix</strong>
    <br>
    <p>Infos persos 🤗 : {{ mentoring.mentor.user.firstname }} {{ mentoring.mentor.user.lastname }} {{ mentoring.mentor.user.age }} ans </p>
    {% if mentoring.mentor.user.picture is not null %}
        <img src="{{ url('home') }}/upload/pictures/{{ mentoring.mentor.user.picture }}" alt="mentor picture" style="width: 100px">
    {% endif %}
    <p>Dernier poste occupé 📜 : {{ mentoring.mentor.jobTitle }}</p>
    <p>Description du poste: {{ mentoring.mentor.careerDescription }}</p>
    <p>(Plus d'informations directement sur ton <a href="{{ url('login') }}">compte</a>)</p>
    <br>
    <p>À bientôt sur Powy!</p>
    <a href="mailto:hello@powy.io">hello@powy.io</a>
</div>