<footer>
    <div class="footer">
        <div class="footer-contact">
            <img src="{{ asset('build/images/envoyer-email.png') }}" alt="envoyer-email">
            <a href="mailto:hello@powy.io">hello@powy.io</a>
        </div>
        <div class="footer-mentions">
            <img src="{{ asset('build/images/livre.png') }}" alt="livre">
            <a href="{{ path('cgu') }}">Conditions Générales d'Utilisation (CGU)</a>
            <a href="{{ path('charter') }}">Charte d'engagement bénévole</a>
            <a href="{{ path('rgpd') }}">Données personnelles (RGPD)</a>
        </div>
    </div>
    <p>Développé avec <img src="{{ asset('build/images/coeur.png') }}" alt="coeur-rouge"> par les Wilders</p>
</footer>