{% extends 'base.html.twig' %}

{% block title %}Mentoring Administration{% endblock %}

{% block body %}
    {% include "admin/components/_navbar.html.twig" %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom de l'étudiant</th>
            <th scope="col">Nom de l'étudiant</th>
            <th scope="col">Prénom du mentor</th>
            <th scope="col">Nom du mentor</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for mentoring in mentorings %}
        <tr>
            <th scope="row">{{ mentoring.id }}</th>
            <td>{{ mentoring.student.user.firstname|default('undefined') }}</td>
            <td>{{ mentoring.student.user.lastname|default('undefined') }}</td>
            <td>{{ mentoring.mentor.user.firstname|default('undefined') }}</td>
            <td>{{ mentoring.mentor.user.lastname|default('undefined') }}</td>
            {% if mentoring.isAccepted == true %}
                <td><a class="btn btn-danger" href="{{ path('admin_mentoring_desactivate', {'id': mentoring.id}) }}) }}">Désactiver le mentorat</a></td>
            {% else %}
            <td><a class="btn btn-warning" href="#">Le mentorat est désactivé</a></td>
            {% endif %}
        </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun compte à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

