

{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% include "admin/components/_navbar.html.twig" %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom de l'étudiant</th>
            <th scope="col">Nom de l'étudiant</th>
            <th scope="col">Prénom du mentor</th>
            <th scope="col">Nom du mentor</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for mentoring in mentorings %}
        <tr>
            <th scope="row">{{ mentoring.id }}</th>
            <td>{{ mentoring.student.user.firstname }}</td>
            <td>{{ mentoring.student.user.lastname }}</td>
            <td>{{ mentoring.mentor.user.firstname }}</td>
            <td>{{ mentoring.mentor.user.firstname }}</td>
            <td><a class="btn btn-danger" href="#">Supprimer</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

